<div class="header">
  <div class="header-left">
    <!-- <img src="../../../assets/logo1.jpg" alt="Logo" class="logo"> -->
      <h1 class="bouncing-text">
      <span class="char1">W</span>
      <span class="char2">O</span>
      <span class="char3">R</span>
      <span class="char4">D</span>
      <span class="char5"> </span>
      <span class="char6">G</span>
      <span class="char7">A</span>
      <span class="char8">M</span>
      <span class="char9">E</span>
    </h1>
  </div>
  <div class="header-right">
    <h2>Level 2</h2>
    <a routerLink="/leader-board">Leaderboard</a>
    <div class="profile-dropdown">
      <img src="../../../assets/profile.png" alt="Profile Icon" class="profile-icon">
      <div class="dropdown-content">
        <a routerLink="/profile">Profile</a>
        <a routerLink="/settings">Settings</a>
      </div>
    </div>
  </div>
</div>